@import url("https://fonts.googleapis.com/css?family=Roboto:700");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

body {
  height: 100%;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif; }

footer {
  display: flex;
  justify-content: center;
  padding: 3rem 0; }
  footer a {
    color: gray;
    text-decoration: none; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  header .logo {
    position: relative;
    animation-name: swimStart;
    animation-duration: 5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transform: translateX(-40vw);
    width: 40vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  header .active {
    position: relative;
    animation-name: swimEnd;
    animation-duration: 5s;
    width: 40vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  header .beforeActive {
    position: relative;
    transform: translateX(-40vw);
    width: 40vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }

@keyframes swimStart {
  0% {
    transform: translateX(-40vw); }
  100% {
    transform: translateX(calc(50vw - (40vw/2))); } }

@keyframes swimEnd {
  0% {
    transform: translateX(calc(50vw - (40vw/2))); }
  100% {
    transform: translateX(100vw); } }
  header h1 {
    text-align: center;
    font-size: 2rem; }
  header h2 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 1rem; }

@media screen and (min-width: 426px) {
  header .logo {
    position: relative;
    animation-name: swimStart;
    animation-duration: 5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transform: translateX(-18vw);
    width: 18vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  header .active {
    position: relative;
    animation-name: swimEnd;
    animation-duration: 5s;
    width: 18vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  header .beforeActive {
    position: relative;
    transform: translateX(-18vw);
    width: 18vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  @keyframes swimStart {
    0% {
      transform: translateX(-18vw); }
    100% {
      transform: translateX(calc(50vw - (18vw/2))); } }
  @keyframes swimEnd {
    0% {
      transform: translateX(calc(50vw - (18vw/2))); }
    100% {
      transform: translateX(100vw); } } }

@media screen and (min-width: 769px) {
  header .logo {
    position: relative;
    animation-name: swimStart;
    animation-duration: 5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
    transform: translateX(-12vw);
    width: 12vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  header .active {
    position: relative;
    animation-name: swimEnd;
    animation-duration: 5s;
    width: 12vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  header .beforeActive {
    position: relative;
    transform: translateX(-12vw);
    width: 12vw;
    margin-bottom: -4rem;
    margin-top: -1rem; }
  @keyframes swimStart {
    0% {
      transform: translateX(-12vw); }
    100% {
      transform: translateX(calc(50vw - (12vw/2))); } }
  @keyframes swimEnd {
    0% {
      transform: translateX(calc(50vw - (12vw/2))); }
    100% {
      transform: translateX(100vw); } } }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .1rem; }

.imageDetails {
  background-color: #000;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .imageDetails:before, .imageDetails:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 50px solid rgba(0, 0, 0, 0.5);
    border-bottom: 50px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0; }
  .imageDetails:before, .imageDetails:after {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); }
  .imageDetails img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden; }
  .imageDetails figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .imageDetails p {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase; }
  .imageDetails div {
    display: flex;
    align-self: flex-start;
    padding-bottom: 1rem;
    padding-left: 5rem; }
    .imageDetails div > img {
      align-self: flex-end; }
    .imageDetails div > p {
      align-items: flex-start;
      padding-left: 1rem; }
  .imageDetails:hover > img, .imageDetails.hover > img {
    opacity: 0.7; }
  .imageDetails:hover:before, .imageDetails.hover:before, .imageDetails:hover:after, .imageDetails.hover:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  .imageDetails:hover figcaption, .imageDetails.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }

@media screen and (min-width: 426px) {
  section {
    flex-direction: row;
    flex-wrap: wrap; }
    section .imageDetails {
      margin: .5rem auto;
      width: 49%;
      height: 25rem; } }

@media screen and (min-width: 769px) {
  section .imageDetails {
    width: 31%;
    height: 30rem; } }
