// HEADER
header
  display: flex
  flex-direction: column
  justify-content: center
  padding-bottom: 1rem
  padding-top: 1rem
  h1
    font-size: $primary-font-size
    text-align: center
    padding-top: 1rem
